*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

html{
    background-color:#ffffff;
    width:100%;
}

li{
    list-style:none;
}

.navbar ul li a{
    color:#000;
}

a{
    text-decoration: none;
    color:#000;
    font-size:1rem;
}

a:hover{
    color:#ffc0cb;
}

header{
    position: relative;
    padding: 0 2rem;
}


body::-webkit-scrollbar{
    width:5px;
}

body::-webkit-scrollbar-track{
    background-color:#ff7f50;
    border-radius:50px;
}

body::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ffffff;
    border-radius:50px;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap:2rem;
}

.navbar .toggle{
    color:#f66517;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color:white;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color:#fff;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:  height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 280px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-header{
    text-align:center;
    padding:5%;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    animation:bg-color 4s linear infinite;
}

.about-header h1{
    font-size:35px;
    color:#ff7f50;
}

.main{
    display:flex;
    margin:30px 0 0 0;
    background:whitesmoke;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

.main .introduction{
    margin:80px 0 50px 10px;
    font-size:20px;
}

.main .introduction>h1{
    color:#8a2be2;
}

.main .introduction>h1{
    color:#8a2be2;
}

.introduction .para-1{
    font-size:25px;
    color:#ff7f50;
    font-weight:600;
    overflow:hidden;
    white-space:nowrap;
    animation:typing 5s steps(40,end) infinite;
}

@keyframes typing{
    from{
        width:0
    }
    to{
        width:100%
    }
}

.introduction .para-2{
    font-size:25px;
}

.btn{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5%;
    gap:10%;
}

.btn button{
    padding:2%;
    background:#ff7f50;
    outline:0;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.btn a{
    text-decoration:none;
    font-size:18px;
    color:#000000;
}

button:hover, a:hover{
    opacity:0.7;
}

.image-section{
    mix-blend-mode:darken;
}

.image-section img{
    margin:80px 0 0 0;
    border-radius:50%;
}

.skill-section{
    margin:30px 0 0 0;
    background:#e0ffff;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}



.my-skills{
    margin:30px 0 0 60px;
}

.my-skills h1{
    margin:0 0 0 35px;
    font-size:40px;
    font-weight:600;
    color:#ff7f50;
}

div>h3{
    padding:5% 0;
    font-size:30px;
    margin:0 0 0 30px;
}

.bar{
    background: #fff;
    display:flex;
    height:12px;
    width:80%;
    margin:0 0 0 30px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:10px;
    overflow: hidden;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0,0,0,2.4);
    transition:all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bar span{
    height:20px;
    float:left;
    background:linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
}

.html{
    width:80%;
}

.css{
    width:70%;
}

.java-script{
    width:20%;
}

.c{
    width:50%;
}

.c-plus-plus{
    width:40%;
}

.about-col{
    margin:100px 0 0 30px;
}

.about-col h1{
    font-size:40px;
    text-align:center;
    color:#ff7f50;
}

.about-col>p{
    font-size:25px;
}

.tab-titles{
    display:flex;
    margin:20px 0 0 0;
}

.tab-links{
    margin:0 0 0 20px;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
    position:relative;
    color:#0000ff;
}

.tab-links::after{
    content:'';
    width:0;
    height:3px;
    position:absolute;
    left:0;
    background:#ff7f50;
    bottom:-8px;
    transition:0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents li{
    list-style:none;
    margin:18px 0;
}

.tab-contents li span{
    font-size:25px;
    color:#ff7f50;
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block;
}


/* footer section */

footer{
    width:100%;
    display:flex;
    position:absolute;
    background:linear-gradient(to right,#ff0000da,orange,yellow);
    color:#fff;
    padding:100px 0 30px;
    margin:30px 0 0 0;
    font-size:15px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}

.row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between;
}

.col{
    flex-basis:25%;
    padding:10px;
}

.col h2{
    width:fit-content;
    margin-bottom:40px;
    position: relative;
}

.col:nth-child(2){
    flex-basis:15%;
}

ul li{
    list-style:none;
    margin-bottom:12px;
}

ul li a{
    text-decoration:none;
    color:#fff;
}

.socialicon .fa{
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    line-height:40px;
    font-size:20px;
    color:#000;
    background-color:#fff;
    margin-right:15px;
    cursor:pointer;

}

.underline{
    width:100%;
    height:5px;
    background-color:#fff;
    border-radius:3px;
    position:absolute;
    top:25px;
    overflow:hidden;
}

.underline span{
    width:15px;
    height:100%;
    background:#ff0000;
    border-radius:3px;
    position:absolute;
    top:0;
    left:10px;
    animation:moving 3s infinite;
}


@keyframes moving {
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}

/* footer section */


/*.sticky header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}*/



/*Responsive Navigation*/

@media(min-width:2160px){
}



@media(max-width:2160px) and (min-width:1440px){
}



@media(max-width:1440px){
}



@media(max-width:1330px){
}



@media(max-width:1023px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }

    .col :nth-child(2){
        flex-basis: 100%;
    }
}



@media(max-width:576px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }

    .main{
        display:flex;
        flex-direction:column;
    }

    .navbar .logo a{
        display:none;
    }

    .main .image-section img{
        margin:-40px 0 60px 20px;
    }
}