*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    width:100%;
}

.header-section{
    width:100%;
    display:flex;
    justify-content:space-between;
    background:linear-gradient(to right,rgb(150, 98, 98),rgb(118, 169, 118),yellow);
}

.logo h1{
    letter-spacing:1px;
}

.resume{
    display:flex;
    align-items:center;
}

.resume button{
    border:none;
    background:none;
    outline:0;
}

.resume>button a{
    text-decoration:none;
    font-size:20px;
    color:#0000ff;
}

/* The sidepanel menu */

.sidepanel{
    height:70vh;
    width:0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    z-index:1; /* Stay on top */
    top:0;
    left:0;
    background-color:#111; /* Black*/
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    overflow-x:hidden; /* Disable horizontal scroll */
    padding-top:3%;
    transition:0.5s;
  }
  
  /* The sidepanel links */

  .sidepanel a{
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    padding:8%;
    font-size:25px;
    color:#818181;
    transition:0.3s;
  }
  
  .sidepanel a:hover{
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */

  .sidepanel .closebt{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
  }
  
  /* Style the button that is used to open the sidepanel */

  .openbtn{
    font-size:20px;
    cursor:pointer;
    background-color:#111;
    color:white;
    padding:10px 15px;
    border:none;
  }
  
  .openbtn:hover{
    background-color:#444;
  }

.sticky .header-section{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}

@keyframes bg-color{
    0%{
        background:#ff7f50;
    }
    20%{
        background:#00ffff;
    }
    40%{
        background:blueviolet;
    }
    60%{
        background:#adff2f;
    }
    80%{
        background:#ffb6c1;
    }
    100%{
        background:#ffff00;
    }
}

@media(max-width:494px){
    .navbar a{
        display:none;
    }

    .logo h1{
        display:none;
    }
}

@media(min-width:494px) and (max-width:1024px){  
    .navbar a{
        display:none;
    } 
}

@media(min-width:494px) and (max-width:1023px){   
}