@keyframes bg-color{
    0%{
        background:#ff7f50;
    }
    20%{
        background:#00ffff;
    }
    40%{
        background:blueviolet;
    }
    60%{
        background:#adff2f;
    }
    80%{
        background:#ffb6c1;
    }
    100%{
        background:#ffff00;
    }
}
