*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

html{
    background-color:#ffffff;
    width:100%;
}

/*Preloader*/
#loader{
    background: #ffffff url(loader1.gif) no-repeat center center;
    background-size:10%;
    height:120vh;
    width:100%;
    z-index:100;
    position:fixed;
}

li{
    list-style:none;
}

.navbar ul li a{
    color:#000;
}

a{
    text-decoration: none;
    color:#000;
    font-size:1rem;
}

a:hover{
    color:#ffc0cb;
}

header{
    position: relative;
    padding: 0 2rem;
}


body::-webkit-scrollbar{
    width:5px;
}

body::-webkit-scrollbar-track{
    background-color:#ff7f50;
    border-radius:50px;
}

body::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ffffff;
    border-radius:50px;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap:2rem;
}

.navbar .toggle{
    color:#f66517;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color:white;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color:#fff;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:  height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 280px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-header{
    text-align:center;
    padding:5%;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    animation:bg-color 4s linear infinite;
}

.about-header h1{
    font-size:35px;
    color:#ff7f50;
}
.contact-header{
    text-align:center;
    padding:5%;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    animation:bg-color 4s linear infinite;
}

.contact-header h1{
    font-size:35px;
    color:#ff7f50;
}


/*Responsive Navigation*/

@media(min-width:2160px){
}



@media (min-width:1440px) and (max-width:2160px){
 }



@media(max-width:1440px){
}



@media(min-width:1023px){
    .letter-text{
        margin:80px 0 0 -40px;
    }
}



@media(max-width:1023px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;

    }

    .gallery-section{
        display:flex;
        flex-direction:column;
    }

    .heading h1{
        font-size:35px;
    }


    .gallery-section .container{
        margin:40px 0 0 80px;
        width:100%;
    }

    .heading h1{
        font-size:35px;
    }

    .gallery-section .container{
        margin:40px 0 0 80px;
        width:80%;
    }

    .heading-1 h1{
        font-size:35px;
    }

    .letter{
        display:flex;
        flex-direction:column;
    }

    .letter-image a img{
        width:150%;
        margin:0 0 0 -50px;
    }

    .letter-text{
        margin:0 0 0 -100px;
    }

    .letter-text h1{
        font-size:35px;
        white-space:nowrap;
    }

    .letter-text h2{
        font-size:30px;
    }

    .letter-text h2,.para-1{
        white-space:nowrap;
    }

    .letter-text .para-2{
        width:150%;
        font-size:20px;
    }

    .letter-text img{
        width:140%;
        margin:40px 0  40px 5px;
    }

    .heading,.heading-1{
        margin:30px 0 0 0;
    }

    footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }

    .col :nth-child(2){
        flex-basis: 100%;
    }
}



@media (min-width:516px) and (max-width:576px){
    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .dropdown_menu{
        left:2rem;
        width:unset;
    }

    .gallery-section{
        display:flex;
        flex-direction:column;
    }

    .heading h1{
        font-size:35px;
    }

    .gallery-section .container{
        margin:40px 0 0 80px;
        width:80%;
    }

    .heading-1 h1{
        font-size:35px;
    }

    .letter{
        display:flex;
        flex-direction:column;
    }

    .letter-image a img{
        width:150%;
        margin:0 0 0 -50px;
    }

    .letter-text{
        margin:0 0 0 -100px;
    }

    .letter-text h1{
        font-size:35px;
        white-space:nowrap;
    }

    .letter-text h2{
        font-size:30px;
    }

    .letter-text h2,.para-1{
        white-space:nowrap;
    }

    .letter-text .para-2{
        width:150%;
        font-size:20px;
    }

    .letter-text img{
        width:140%;
        margin:40px 0  40px 5px;
    }

    .heading,.heading-1{
        margin:30px 0 0 0;
    }
}


@media (max-width:516px){
    .navbar .logo>a{
        display:none;
    }
    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .gallery-section{
        display:flex;
        flex-direction:column;
    }

    .heading h1{
        font-size:25px;
    }

    .gallery-section .container{
        margin:65px 0 20px 55px;
        width:95%;
    }

    .heading-1 h1{
        font-size:25px;
    }

    .letter{
        display:flex;
        flex-direction:column;
    }

    .letter-image a img{
        width:150%;
        margin:0 0 0 -30px;
    }

    .letter-text{
        margin:0 0 0 -100px;
    }

    .letter-text h1{
        font-size:35px;
        white-space:nowrap;
    }

    .letter-text h2{
        font-size:30px;
    }

    .letter-text h2,.para-1{
        white-space:nowrap;
    }

    .letter-text .para-2{
        width:148%;
        font-size:20px;
    }

    .letter-text img{
        width:140%;
        margin:40px 0  40px 20px;
    }

    .heading,.heading-1{
        margin:30px 0 0 0;
    }
}
