*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

html{
    background-color:#ffffff;
    width:100%;
}

/*Preloader*/
#loader{
    background: #ffffff url(loader1.gif) no-repeat center center;
    background-size:10%;
    height:120vh;
    width:100%;
    z-index:100;
    position:fixed;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
    color:#ffffff;
    font-size:1rem;
}

a:hover{
    color:#ffc0cb;
}

header{
    position: relative;
    padding: 0 2rem;
    
}

body{
    height: 100vh;
    background-image:url(./images/background.jpeg);
    background-size: cover;
    background-position: center;   
}

body::-webkit-scrollbar{
    width:5px;
}

body::-webkit-scrollbar-track{
    background-color:#ff7f50;
    border-radius:50px;
}

body::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ffffff;
    border-radius:50px;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap:2rem;
}

.navbar .toggle{
    color:#f66517;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color:white;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color:#fff;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:  height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 280px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:90vh;
}

.text>h1{
    font-size:65px;
    color:#f66517;
}

.text>p{
    font-size:20px;
    color:#f5f5f5;
}

.main{
    padding:8% 8%;
    width:100%;
    height:auto;
    display:flex;
    row-gap:5%;
}

.main .card{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width:300px;
    margin:auto;
    text-align:center;
    padding:0.5%;
}

.main button{
    border:none;
    outline:0;
    display:inline-block;
    padding:8px;
    color:white;
    background-color:#ff7f50;
    text-align:center;
    cursor:pointer;
    width:100%;
    font-size:18px;  
}

.main a{
    text-decoration:none;
    font-size:22px;
    color:black;
}
  
button:hover, a:hover{
    opacity:0.7;
}

.main .card:hover{
    transform: scale(1.05);
}

.main .card img{
    pointer-events: none;
}

.home{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.home p{
    font-size:25px;
    padding:5%;
}

.home button{
    width:20%;
    border-radius:5px;
    right:0;
}

footer{
    width:100%;
    display:flex;
    position:absolute;
    background:linear-gradient(to right,#ff0000da,orange,yellow);
    color:#fff;
    padding:100px 0 30px;
    font-size:15px;
}

.row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between;
}

.col{
    flex-basis:25%;
    padding:10px;
}

.col h2{
    width:fit-content;
    margin-bottom:40px;
    position: relative;
}

.col:nth-child(2){
    flex-basis:15%;
}

ul li{
    list-style:none;
    margin-bottom:12px;
}

ul li a{
    text-decoration:none;
    color:#fff;
}

.socialicon .fa{
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    line-height:40px;
    font-size:20px;
    color:#000;
    background-color:#fff;
    margin-right:15px;
    cursor:pointer;

}

.underline{
    width:100%;
    height:5px;
    background-color:#fff;
    border-radius:3px;
    position:absolute;
    top:25px;
    overflow:hidden;
}

.underline span{
    width:15px;
    height:100%;
    background:#ff0000;
    border-radius:3px;
    position:absolute;
    top:0;
    left:10px;
    animation:moving 3s infinite;
}


@keyframes moving {
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}


/*.sticky header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}*/

/*Responsive Navigation*/

@media(min-width:2160px){
}



@media (min-width:1440px) and (max-width:2160px){
 }



@media(max-width:1440px){
}



@media(max-width:1330px){
    .profile,.external{
        flex-direction: column;
        justify-content: space-between;
    }
}



@media(max-width:1023px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;

    }

    .main-header .main{
        display:flex;
        flex-direction:column;
    }

    .main .card,.home,.home>button{
        margin-top:10%;
    }

    .home>p{
        width:110%;
    }

    .home>button{
        width:40%;
    }

    footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }

    .col :nth-child(2){
        flex-basis: 100%;
    }
}



@media (min-width:516px) and (max-width:576px){
    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;

    }

    .dropdown_menu{
        left:2rem;
        width:unset;
    }

    .main-header .main{
        display:flex;
        flex-direction:column;
    }

    .main .card,.home,.home>button{
        margin-top:10%;
    }

    .home>button{
        width:40%;
    }
}


@media (max-width:516px){
    .navbar .logo>a{
        font-size:20px;
    }
    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;

    }

    .text>h1{
        font-size:35px;
    }

    .text>p{
        font-size:15px;
        width:110%;
        text-align:center;
    }

    .main-header .main{
        display:flex;
        flex-direction:column;
    }

    .main .card,.home,.home>button{
        margin-top:15%;
    }

    .home>p{
        font-size:20px;
    }

    .home>button{
        width:50%;
    }
}
